body {
    background-image: url("../img/fooldal/haziallatok-csoportkep.jpg");
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.content {
    font-family: "Arial";
    background-color: rgba(138, 154, 91, 0.8);
    margin: auto;
    width: 80%;
    color: black;
    padding-left: 10;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    padding-bottom: 5px;
    padding-top: 10px;
}

.fejlec {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-radius: 5px 5px 0 0;
}

p {
    padding: 5px 10px;
}

.img {
    background-color: rgb(219, 225, 200);
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 5px;
}

.d-block {
    margin-top: 20px;
    margin-bottom: 5px;
}

img {
    width: 80%;
    border-radius: 5px;
}
.ritkacontent{
    font-family: "Arial";
    background-color: rgba(88, 102, 46, 0.8);
    margin: auto;
    width: 80%;
    color: black;
    padding-left: 10;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px 5px;
    margin-top: 20px;
    margin-bottom: 20px; 
}
.menu-container {
      background-color: #dbe1c8;
      padding: 10px;
      border: 1px solid #ccc;
    }
    .menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex; 
      justify-content: space-around; 
    }
    .menu li a {
      text-decoration: none;
      font-weight: bold;
      color: #064d2c; 
      padding: 8px 16px;
      display: block;
    }
    .imgbox {
  width: 45%;             
  margin: 20px;           
  padding: 10px;
  background-color:  #dbe1c8; 
  border: 2px solid #333;  
  border-radius: 8px;      
}
.imgbox img {
  width: 450px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.left {
  float: left;
  clear: left;
}

.right {
  float: right;
  clear: right;
}