body {
    background-image: url("../img/fooldal/haziallatok-csoportkep.jpg");
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Arial";
    color: black;
    margin-bottom: 20px;
}

.content {
    background-color: rgba(138, 154, 91, 0.8);
    margin: auto;
    width: 80%;
    color: black;
    padding-left: 10;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px 5px;
    margin-top: 100px;
    margin-bottom: 40px;
    padding-bottom: 50px;
}

.row {
    padding-bottom: 5px;
}

.fejlec {
    padding-top: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-radius: 5px 5px 0 0;
    background-color: rgb(219, 225, 200);
    margin-bottom: 40px;
}

p {
    padding: 5px 10px;
}

.img {
    background-color: rgb(219, 225, 200);
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 5px;
}

.d-block {
    margin-top: 20px;
    margin-bottom: 5px;
}

img {
    width: 80%;
    border-radius: 5px;
}

.navbar {
    background-color: rgb(219, 225, 200);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.ritkacontent {
    font-family: "Arial";
    background-color: rgba(88, 102, 46, 0.8);
    margin: auto;
    width: 80%;
    color: black;
    padding-left: 10;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imgbox img {
    width: 450px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.left {
    float: left;
    clear: left;
}

.right {
    float: right;
    clear: right;
}

.tabla {
    width: 700px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px double black;
    padding: auto;
    text-align: center;
}

.tabla_sorok td {
    border: 2px double black;
    padding: auto;
}

.tabla_fejlec th {
    border: 2px double black;
}

.gyakori_body {
    max-width: 990px;
    margin:  12px auto;
    padding: 10px;
    background-color: rgba(138, 154, 91, 0.846);
    border-width: 3px;
    border: solid black;
    font-family: Arial, Helvetica, sans-serif;

}

.img_gyakori {
    width: 450px; 
    border-color: black;
    border-width: 3px;
    border-style: solid;
    float: right
} 

.gyakori_h1 {
    text-align: center;
}

.gyakori_h2 {
    text-align: center;
}

.img_statisztika {
    float: right;
    width: 500px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

.img_felelos {
    float: left;
    width: 500px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

.felelos_szoveg {
    margin-left: 40px;
}