body {
    background-image: url("../img/fooldal/haziallatok-csoportkep.jpg");
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Arial";
    color: black;
    margin-bottom: 20px;
}

.content {
    background-color: rgba(138, 154, 91, 0.8);
    margin: auto;
    width: 80%;
    padding-left: 10;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px 5px;
    margin-top: 100px;
    margin-bottom: 40px;
    padding-bottom: 50px;
}

.c_ex {
    background-color: rgba(83, 92, 54, 0.8);
    color: rgb(219, 225, 200);
}

.row {
    padding-bottom: 5px;
}

.fejlec {
    padding-top: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-radius: 5px 5px 0 0;
    background-color: rgb(219, 225, 200);
    margin-bottom: 40px;
    color: black;
}


p {
    padding: 5px 10px;
    text-align: justify;
}

.img {
    background-color: rgb(219, 225, 200);
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 5px;
}

.img p {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 0.85em;
}

.d-block {
    margin-top: 20px;
    margin-bottom: 5px;
}

img {
    width: 80%;
    border-radius: 5px;
}

.navbar {
    background-color: rgb(219, 225, 200);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.tabla {
    width: 700px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px double black;
    padding: auto;
    text-align: center;
}

.tabla_sorok td {
    border: 2px double black;
    padding: auto;
}

.tabla_fejlec th {
    border: 2px double black;
}

.gyakori_body {
    max-width: 990px;
    margin:  100px auto 20px;
    padding: 10px;
    background-color: rgba(138, 154, 91, 0.846);
    border-width: 3px;
    border: solid black;
    font-family: Arial, Helvetica, sans-serif;

}

.img_gyakori {
    width: 450px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    float: right
}

.gyakori_h1 {
    text-align: center;
    background-color: rgb(219, 225, 200);

}

.gyakori_h2 {
    text-align: center;
}

.img_statisztika {
    float: right;
    width: 500px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

.img_felelos {
    float: left;
    width: 500px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

.felelos_szoveg {
    margin-left: 40px;
}

.ritkafejlec {
    text-align: center;
}

.bevezeto {
    font-size: 1.1em;
    font-weight: bold;
}

.ritkacontent {
    font-family: "Arial";
    background-color: rgba(88, 102, 46, 0.8);
    margin: auto;
    width: 80%;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px 5px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.doboz {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.imgbox {
    width: 430px;
    background-color: #dbe1c8;
    border: 2px solid #333;
    padding: 10px;
    margin: 20px;
    text-align: left;
    font-weight: bold;
}

.lista {
    font-size: 0.8em;
    font-weight: bold;
    text-align: justify;
}

.szoveg {
    font-size: 0.9em;
    font-weight: bold;
}